<div class="container-fluid bg-sign_up">
<div class="container">
  <div style="height:80px;"></div>
  <div class="container">
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-6 col-sign_up">
        <h2 class="title-sign_up">Je me connecte</br>à la communauté</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false} } ) do |f| %>
        <div class="field field-sign_up">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field field-sign_up">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field field-sign_up">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
        <%= f.submit "Log in" %>
        </div>
        <% end %>

        <div style="height:30px;"></div>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>