<%= form_with(model: post, local:true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
<div class="container">
  <div class="bloc-title-form">
    <h1 class="title-form">Je soutiens Cora</h1>
  </div>
  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :post_content %>
  </div>

  
  <div class="actions">
    <%= form.submit "Poster mon témoignage", class:'margin-right'%>
    <%=link_to "Voir tous les témoignages", posts_path, class:'btn btn-custom btn-custom2' %>
  </div>
<% end %>
</div>
