<div class="container">
<div style="height:50px;"></div>
<p style="color: green"><%= notice %></p>

<%= render @post %>

<div class="row border-show-post">
  <div class="col-6">
   <%= link_to "Modifier mon témoignage", edit_post_path(@post), class:'left-show-post btn btn-custom' %>
  <%= link_to "Voir tous les témoignages", posts_path, class:'left-show-post btn btn-custom' %>
</div>
<div class="col-6 col-align-right">
  <%= button_to "Ne plus soutenir Cora", @post, method: :delete ,class:'right-show-post btn btn-custom'%>
</div>
</div>
</div>
</div>
<div style="height:50px;"></div>
<div class="paral"></div>
   </div>
</div>
<div style="margin-bottom:-100px;"></div>